body{
    margin: 0;
    background-image:url("back.jpg") ;
    background-size:cover;
}
h1{
    font-family: 'Londrina Shadow', cursive;
  text-align: center;
  font-size: 75px;
  color: #989898;
  margin: 0 auto;
}
#dominos{
    height: 325px;
    width: 320px;
    margin-left:15px; 
}
#pizza_hut{
    height: 325px;
    width: 320px;
    margin-left:17px; 
}
#KFC{
    height: 325px;
    width: 320px;
    margin-left:17px; 
}
#MC{
    height: 325px;
    width: 300px;
    margin-left:20px; 
}
div{
    display: inline-block;
    float: left;
    
}
.main{
    padding-top: 100px;
}
li{
    color: white;
    text-decoration: none;
    padding: 10px;
    display: none;
}
ul{
     list-style-type: none;
     margin-top: 40px;
}
.dom_list{
    margin-left: 60px;
    font-family: helvetica;
}
.pizz_list{
    margin-left: 53px;
    font-family: helvetica;
}
.kfc_list{
    margin-left: 55px;
    font-family: helvetica;
}
.mc_list{
    padding-top: 15px;
    margin-left: 38px;
    font-family: helvetica;
}
.show {
    display: block;
}
#dom{
    margin-top: 5px;
    margin-left: 8%;
    position: absolute;
}
#piz{
    position: absolute;
    margin-left: 8%;
}
#kfci{
    position: absolute;
    margin-left: 8%;
}
#mci{
    position: absolute;
    margin-left: 7%;
    margin-top: 10px;
}
button {
    background-color: #f44336;
    color: white;
    padding: 8px 13px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}