body{
    margin: 0;
    background-image:url("back.jpg") ;
    background-size:cover;
}
h1{
    font-family: 'Londrina Shadow', cursive;
  text-align: center;
  font-size: 75px;
  color: #989898;
  margin: 0 auto;
}
#dominos{
    height: 325px;
    width: 320px;
    margin-left:15px; 
}
#pizza_hut{
    height: 325px;
    width: 320px;
    margin-left:17px; 
}
#KFC{
    height: 325px;
    width: 320px;
    margin-left:17px; 
}
#MC{
    height: 325px;
    width: 300px;
    margin-left:20px; 
}
div{
    display: inline-block;
    float: left;
    
}
.main{
    padding-top: 100px;
}
li{
    color: white;
    text-decoration: none;
    padding: 10px;
    display: none;
}
ul{
     list-style-type: none;
}
.dom_list{
margin-left: 80px;
}
.pizz_list{
    margin-left: 35px;
}
.kfc_list{
    margin-left: 55px;
}
.mc_list{
    padding-top: 15px;
    margin-left: 20px;
}
.show {
    display: block;
}